<% include partials/header %>
    
    <div class="">
        <div class="row my-row">

            <form id="form_questoes" name="questoes" action="/questionario/responder" method="post">

                <% if (questoes.length > 0 || questoes != null) { %>

                        <% for(var i = 0; i < questoes.length; i++) { %>
                            
                                <div class="questao hide animated">
                                    <div class="col s12 m6 l6 offset-m3 offset-l3">
                                        <div class="card my-card-color">
                                            <div class="card-content white-text">
                                                <span class="card-title">Questão <%= i + 1 %> / 10</span>
                                                <span class="question-categoria my-text"><%= questoes[i].categoria %></span>
                                                <br>
                                                <span class="question-title my-text"><%= questoes[i].padrao %>
                                                    <button data-target="modal<%= i %>" class="btn modal-trigger btn-small">Sobre o padrão</button>
                                                </span>
                                                <br>
                                                <br>

                                                <div id="modal<%= i %>" class="modal">
                                                    <div class="modal-content black-text">
                                                        <h4>Descrição</h4>
                                                        <p class="align-justify"><%= questoes[i].descricao %></p>
                                                        <img src="<%= questoes[i].imagem %>" />
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Entendi</a>
                                                    </div>
                                                </div>
                                                        
                                                <input type="hidden" name="questao<%= i + 1 %>[padrao]" value="<%= questoes[i].padrao %>" >
                                                <input type="hidden" name="questao<%= i + 1 %>[categoria]" value="<%= questoes[i].categoria %>" />
                                                <div class="row">
                                                    <% for(var j = 0; j < questoes[i].termos.length; j++) { %>
                                                        <div class="col s12 m4 l4">
                                                            <label class="item-resposta">
                                                                <input type="checkbox" name="questao<%= i + 1 %>[termos]" value="<%= questoes[i].termos[j] %>"> 
                                                                <span class="resposta"><%= questoes[i].termos[j] %></span>
                                                            </label>
                                                        </div>
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="card-action">
                                                <div class="row">
                                                    <div class="col s6 m4 l4">
                                                        <button type="button" id="prev" onclick="anterior();" class="waves-effect waves-light btn grey lighten-3 black-text">Anterior</button>
                                                    </div>
                                                    <div class="col s6 m4 l4 offset-m4 offset-l4 align-right">
                                                        <button type="button" id="next" onclick="proximo();" class="waves-effect waves-light btn grey lighten-3 black-text">Próxima</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end .questao -->
                        <% } %>

                        
                            <div class="questao hide animated">
                                <div class="col s12 m6 offset-m3">
                                    <div class="card my-card-color">
                                        <div class="card-content white-text">
                                            <span class="card-title">Questão 10 / 10</span>
                                            <h5>Dê sugestão de termos</h5>
                                            <div class="sug">
                                                <select name="suguestao[padrao]" class="input-color-text">
                                                    <option value="none" selected>Selecione um padrão</option>
                                                    <optgroup label="Criacional">
                                                        <option value="builder">Builder</option>
                                                        <option value="factory method">Factory Method</option>
                                                        <option value="prototype">Prototype</option>
                                                        <option value="singleton">Singleton</option>            
                                                    </optgroup>
                                                            
                                                    <optgroup label="Estrutural">
                                                        <option value="adapter">Adapter</option>
                                                        <option value="bridge">Bridge</option>
                                                        <option value="composite">Composite</option>
                                                        <option value="decorator">Decorator</option>
                                                        <option value="proxy">Proxy</option> 
                                                        <option value="chain">Chain of Responsibility</option>
                                                    </optgroup>

                                                    <optgroup label="Comportamental">
                                                        <option value="command">Command</option>
                                                        <option value="observer">Observer</option>
                                                        <option value="state">State</option>
                                                        <option value="strategy">Strategy</option>
                                                        <option value="template method">Template Method</option>
                                                        <option value="visitor">Visitor</option>
                                                    </optgroup>
                                                </select>
                                                <select name="suguestao[tipo]">
                                                    <option value="none" selected>Selecione um tipo de termo</option>
                                                    <option value="classe">Classe</option>
                                                    <option value="atributo">Atributo</option>
                                                    <option value="metodo">Método</option>
                                                </select>
                                                <input type="text" class="input-color-text" name="suguestao[nome]" placeholder="Digite o termo">
                                            </div>
                                            <button type="button" class="btn btn-small" onclick="addCampoSuguestao();">Mais sugestões</button>
                                        
                                        </div>
                                        <div class="card-action">
                                            <div class="row">
                                                <div class="col s6 m4 l4">
                                                    <button type="button" id="prev" onclick="anterior();" class="waves-effect waves-light btn grey lighten-3 black-text">Anterior</button>
                                                </div>
                                                <div class="col s6 m4 l4 offset-m4 offset-l4 align-right">
                                                    <button type="button" id="next" onclick="proximo();" class="waves-effect waves-light btn grey lighten-3 black-text">Finalizar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end .questao -->
                        
                <% } %>

            </form>
        
        </div> 

    </div>            

<% include partials/footer %>
